body {
    background-color: lightgoldenrodyellow;
}

header>h1{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:chocolate;
}

h2{
    text-align: center;
    color:brown;
}

.food{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    
}

div>h3{
    text-align: center;
    text-decoration-line: underline;
    margin-bottom: auto;
}

.channels{
    text-align: center;
    text-decoration: solid;
}

.cuisine{
    text-align: center;
    color:darkolivegreen;
}