body {
    background-color: lightgoldenrodyellow;
}

header>h1{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:chocolate;
    text-decoration-line: underline;
}

.food{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

div>h3{
    text-align: center;
}

h2>p{
    background-color:darkcyan;
}